body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mato1 {
    position: absolute;
    width: 30vw;
}

.mato2 {
    position: absolute;
    width: 30vw;
    transform: scaleY(-1);
    bottom: 0vw;
}

.arvore {
    position: absolute;
    width: 100vw;
    bottom: -10vh;
    left: 50%;
}

.arbusto1 {
    position: absolute;
    bottom: -0.1vw;
    width: 40vw;
    left: 95%;
}

.arbusto2 {
    position: absolute;
    bottom: -0.1vw;
    width: 40vw;
    left: 65%;
}

.titulo1, .titulo2 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
}

.titulo1 {
    font-size: 60px;
}

.titulo2 {
    font-size: 40px;
}

.titulo {
    padding-top: 35vh;
}

.cubo {
    background-color: black;
    width: 50px;
    height: 50px;
    position: relative;
    left: 4000px;   
}
