body {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    background-color: #74D2F3;
    user-select: none;
    -webkit-user-drag: none;
}


.titulo1, .titulo2 {
    text-align: center;
    font-family: "Luckiest Guy";
    font-weight: 100;   
}

.titulo1 {
    font-size: 65px;
}

.titulo2 {
    font-size: 45px;
}

.titulo {
    padding-top: 30vh;
}

.scroll {
    width: 5vw;
}

.chapeu {
    position: absolute;
    width: 5vw;
    bottom: 59vh;
    right: 47.5vw;
}

.arvore1 {
    position: absolute;
    width: 70vw;
    left: -32vw;
    bottom: -25vh;
}

.matagal {
    position: absolute;
    width: 110vw;
    bottom: -5vh;
    left: -4vw;
    z-index: 4;
}

.campao {
    position: absolute;
    width: 100vw;
    bottom: 0vh;
}

.nuvem {
    position: absolute;
    width: 45vw;
    top: -3vh;
    left: 20vw;
}

.arvore2 {
    position: absolute;
    width: 80vw;
    right: -42vw;
    bottom: -10vh;
    z-index: 3;
}

.estrada1 {
    position: absolute;
    width: 250vw;
    bottom: -5vh;
    right: -255vw;
    z-index: 2;
}

.fundo {
    position: absolute;
    width: 250vw;
    bottom: -25vh;
    right: -250vw;
}

.bilhoesdenuvens {
    position: absolute;
    width: 100vw;
    bottom: 70vh;
    right: -160vw;
}

.fazendinha {
    position: absolute;
    width: 15vw;
    right: -65vw;
    bottom: 34vh;
}

.casinhafundo {
    position: absolute;
    width: 30vw;
    right: -175vw;
    bottom: 32vh;
}

.casinha {
    position: absolute;
    width: 74vw;
    bottom: 0px;
    right: -260vw;
}

.estrada2 {
    position: absolute;
    width: 210vw;
    height: 14vh;
    bottom: -5vh;
    right: -445vw;
    z-index: 2;
}

.hominho {
    position: absolute;
    width: 22vw;
    bottom: 2vh;
    right: -275vw;
    z-index: 3;
    cursor: pointer;
    -webkit-user-drag: none;
}

.bilhoesdenuvens2 {
    position: absolute;
    width: 100vw;
    bottom: 60vh;
    right: -370vw;
}

.bilhoesdenuvens3 {
    position: absolute;
    width: 30vw;
    bottom: 68vh;
    right: -410vw;
}

.caixa {
    position: absolute;
    width: 18vw;
    bottom: 1vh;
    right: -290vw;
    z-index: 3;
    user-select: none;
    -webkit-user-drag: none;
}

.trigo {
    position: absolute;
    width: 160vw;
    right: -425vw;
    bottom: 0vh;
    z-index: 1;
}

.animais {
    position: absolute;
    width: 75vw;
    bottom: 0vh;
    right: -380vw;
    z-index: 1;
}

.veiculo {
    position: absolute;
    width: 46vw;
    right: -440vw;
    bottom: 1vh;
    z-index: 3;
    -webkit-user-drag: none;
}
