body {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    background-color: #74D2F3;
    user-select: none;
    -webkit-user-drag: none;
}


.titulo1, .titulo2 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
}

.titulo1 {
    font-size: 65px;
}

.titulo2 {
    font-size: 45px;
}

.titulo {
    padding-top: 30vh;
}

.scroll {
    width: 5vw;
}

.montanhaatras {
    position: absolute;
    width: 100vw;
    left: 0px;
    bottom: -5vh;
}

.arvore1 {
    position: absolute;
    width: 70vw;
    left: -32vw;
    bottom: -25vh;
}

.matagal {
    position: absolute;
    width: 110vw;
    bottom: -5vh;
    left: -4vw;
    z-index: 4;
}

.campao {
    position: absolute;
    width: 100vw;
    bottom: 0vh;
}

.nuvem {
    position: absolute;
    width: 45vw;
    top: -3vh;
    left: 20vw;
}

.arvore2 {
    position: absolute;
    width: 80vw;
    right: -42vw;
    bottom: -10vh;
    z-index: 3;
}

.estrada1 {
    position: absolute;
    width: 250vw;
    bottom: -5vh;
    right: -255vw;
    z-index: 2;
}

.fundo {
    position: absolute;
    width: 250vw;
    bottom: -25vh;
    right: -250vw;
}

.campao2 {
    position: absolute;
    width: 180vw;
    right: -420vw;
    bottom: 0vh;
}
